bin/
obj/
packages/
TestResults/
!.nuget/NuGet.exe
ADAL.NET.sdf
.nuget/NuGet.Config
*.suo
src/ADAL.PCL.Android/ADAL.PCL.Android.csproj.bak
*.suo
bin/
obj/
*.nuget.props
*.nuget.targets
project.lock.json
.vs/
*.*proj.user
.DS_Store
*.userprefs
AppPackages
Microsoft.IdentityModel.Clients.ActiveDirectory.XML
